<div class="container mt-5">
  <h2 class="mb-3 text-center">Add Product Form</h2>
  <p class="text-center">Please fill out this form to add your product.</p>
  <form>
    <div class="row g-3">
      <div class="col-md-4">
        <label for="Productname" class="form-label">Product name</label>
        <input type="text" name="" id="" class="form-control" placeholder="Product Name">
      </div>
      <div class="col-md-4">
        <label for="Productname" class="form-label">Product Type</label>
        <input type="text" name="" id="" class="form-control" placeholder="Product Type">
      </div>
      <div class="col-md-4">
        <label for="shirtColor" class="form-label">Price</label>
        <input type="text" name="" id="" class="form-control" placeholder="Price">

      </div>
    </div>

    <div class="mb-3 mt-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="quantity" placeholder="Enter the number of products you want to add">
    </div>

    <div class="mb-3">
      <label for="specialInstructions" class="form-label">Product Description</label>
      <textarea class="form-control" id="specialInstructions" rows="3" placeholder="Enter any special description for your Product"></textarea>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="terms">
      <label class="form-check-label" for="terms">
        I agree to the terms and conditions
      </label>
    </div>

    <button type="submit" class="btn btn-primary w-100">Add product +</button>
  </form>
</div>
