<div class="container mt-5">
  <h2 class="mb-4">Student Information Form</h2>
  <form>
      <div class="form-group">
          <label for="rollNumber">Roll Number</label>
          <input type="text" class="form-control" id="rollNumber" placeholder="Enter Roll Number" name="rollNumber" [(ngModel)]="inputRoll">
      </div>
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" [(ngModel)]="inputName">
      </div>
      <div class="form-group">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age" [(ngModel)]="inputAge">
      </div>
      <br>
      <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
  </form>
</div>

<div class="container mt-5">
  <h2 class="mb-4">Data Table</h2>
  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Roll Number</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let s of students">
              <td>{{s.rollNo}}</td>
              <td>{{s.name}}</td>
              <td>{{s.age}}</td>
          </tr>
      </tbody>
  </table>
</div>
