<div class="main">
  <div class="head">
    <h1>Task Tracker</h1>
  </div>

  <div class="addtaskform">
    <form action="">
      <input type="Number" name="id" placeholder="Task Id" [(ngModel)]="idInput">
      <input type="text" name="task" placeholder="Enter task" [(ngModel)]="taskInput">
      <input type="button" name="submit" value="Add Task" (click)="submitTask()">
    </form>
  </div>


  <div class="tasks">
    <table>
      <tr>
        <th>Id</th>
        <th>Task Name</th>
        <th colspan="2">Actions</th>
      </tr>

      <tr *ngFor="let task of tasks; let i = index"
        [ngStyle]="{'background-color': task.completed == true ? '#ACE1AF' : 'rgb(255, 175, 175)'}">
        <td>{{task.id}}</td>
        <td>{{task.name}}</td>
        <td><button (click)="donetask(i)" id="g"><p >Done ✔️</p></button></td>
        <td><button (click)="removeTask(i)" id="r"><p>Remove ❌</p></button></td>
      </tr>
    </table>
  </div>
</div>
