<div class="in" style="width: 100%; height: 100%;">
  <h2>Login Form</h2>  

    <table style="padding: 2%; width: 50%; height: 50%;">
        <tr>
            <th>Username:</th>
            <td><input type="text" name="username" required></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr style=" display: flex; justify-content: center; align-items: center;">
          <button type="button" class="btn btn-outline-success">Success</button>
        </tr>
    </table>
</div>
